<div id="bg">
	<h1>Driver Details</h1>

	<ul>
	  <li>Name : sadasd</li> 
	  
	  <li>Surname : sadsdsad</li>

	 <li>Cell : sdksnadsja</li>

	  <li>Email : sdsadsad</li> 


	  <li>Issues:
	  		<ul>
	  			<li>sadnasdjd</li>
	  			<li>sdskknksjd</li>
	  		</ul>
	  </li>
	  </ul>
	<form action="" method='post'>
	  <input type='Done' value='Submit'/>  
	</form>
</div>