<div id="bg">
	<div class="wrapper">
	<div class="module">
    <ul>
      <li class="tab activeTab"><img src="http://i.imgur.com/Fk1Urva.png" alt="" class="icon"/></li>
  	</ul>
<form action="/ref_nos" method="post" class="form"> <h1>Ref No.</h1>
	{{#if msg}}
		<p>{{msg}}</p><br>
	{{/if}}
	<input type="text" name="ref_no" class="textbox" required>
    <input type="submit" value="submit"  />
</form>
	</div>
</div>
	</div>