<div id="bg">
	<div id="login">
	<div class="module">
    <ul>
      <li class="tab activeTab"><img src="http://i.imgur.com/Fk1Urva.png" alt="" class="icon"/></li>
  	</ul>
  <h1>Log in</h1>
  <form action="/" method="post">
    <input type="email" placeholder="Email" />
    <input type="password" placeholder="Password" />
    <input type="submit" value="Log in" />
  </form>
		</div>

  
	</div>
